@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mali:wght@200;700&display=swap');

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Mali', cursive;
}

#instructions {
    font-size: 1.4rem;
}

.table {
    font-size: 1.4rem;
}

#winner {
    font-size: 1.6rem;
    font-weight: bold;
}

#trophy {
    color: gold;
}

#first-place {
    width: 20%;
    padding-top: 10px;
}

#guess {
    height: 45px;
    border-radius: 5px;
}

#msg {
    font-size: 2rem;
    margin-top: 1rem;
}