<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/slate/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://kit.fontawesome.com/5efb573cd6.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <nav class="navbar navbar-brand bg-info"> <a class="px-3" href="/">WERD NERDZ</a>
        <img src="https://cdn.pixabay.com/photo/2014/04/03/11/37/glasses-312005_960_720.png" width="60">
        {% if 'user_id' in session: %}
            <form class="navbar-form navbar-right"><a href="/logout">Sign Out</a></form>
        {% else: %}
            <form class="navbar-form navbar-right"><a href="/login">Sign In</a></form>
        {% endif %}
</nav>
        <div class="container mt-4">
            
            {% block content %}
            
            {% endblock %}
        </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>