{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<h1 class="display-1">Guess the Mystery Word!</h1>
<h2 id="timer" class="display-1 text-danger">Timer: 60 Seconds</h2>
<h2 id="points" class="display-3"></h2>
<button id="play-btn" class="btn btn-success">Start!</button>

<h3 id="word-info" class="invisible">The mystery word is a(n) {{ word.pos }} with {{ word.syllable_count }} syllables.</h3>
<div id="letters" class="invisible container mt-5 mb-3">
    <div class="row row-cols-auto" style="height: 100px">
        {% for letter in word.word %}                           
        <div class="col-1 m-2 pb-3 h-100 bg-info bg-opacity-25 border border-info text-center rounded">
            {% if letter == word.word[0] %}
                <p id="first-letter" class="display-2 text-warning text-uppercase">{{ letter }}</p>
            {% elif letter == word.word | last %}
                <p id="last-letter" class="display-2 text-warning text-uppercase">{{ letter }}</p>
            {% elif word.word.index(letter) == 2 %}
                <p id="third-letter" class="display-2 invisible text-warning text-uppercase">{{ letter }}</p>
            {% else %}
                <p class="invisible display-2">?</p>                 
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="container my-4">
    <form action="/game/check-guess" method="POST" id="check-guess">
        <h4 id="feedback"></h4>
        <input id="guess" type="text" name="guess" placeholder="Enter your guess">
        <button class="btn btn-success d-inline">Guess</button>
    </form>
    <br>
    <div>
        <button id="hint-1" class="btn btn-info mr-3 d-inline">Get Definition</button>
        <button id="hint-2" class="btn btn-info m-3 d-inline">Get Synonyms</button>
        <button id="hint-3" class="btn btn-info d-inline">Get Another Letter</button>
    </div>
</div>
<h5 id="definition" class="invisible">The mystery word means {{ word.definition }}</h5>
<h5 id="synonyms" class="invisible">The mystery word has the following synonyms:
    {% for synonym in synonyms %}
    <p>{{ synonym }}</p>
    {% endfor %}
</h5>
<div id="game-over" class="invisible">
    <h2 id="lose" class="invisible display-2 text-warning">SORRY, TIME'S UP!</h2>
    <h2 id="win" class="invisible display-2 text-success">YOU WIN!</h2>
    <button id="results" class="btn btn-info">Click for your results!</button>
</div>
<h4 id="mystery-word" class="invisible">{{ word.word }}</h4>
{% endblock %}