{% extends 'base.html' %}
{% block content %}
<!-- if player in session, show response below; else show a loser response...with option to get word info -->
<h1>Game Results</h1>
    {% if score == 0 %}
    <h4>Sorry, you didn't get it this time! The mystery word was {{ word }} and you scored {{ score }} points.</h4>
    {% elif score > 0 %}
    <h4>Congratulations, you win!! You guessed the word {{ word }} and you scored {{ score }} points.</h4>
    {% endif %}
<form action='/game/play'>
    <button id="replay" class="btn btn-success">Play again!</button>
</form>
{% endblock %}