{% extends 'base.html' %}
{% block content %}


<h1>Guess the Mystery Word!</h1>
<h1 id="timer">Timer: 60 Seconds</h1>
<h2 id="points"></h2>
<button id="play-btn" class="btn btn-success">Start!</button>
<div id="game-over" class="invisible">
    <h2>GAME OVER!</h2>
    <button id="results" class="btn btn-info">Click for your results!</button>
</div>
<br>
<h3 id="word-info" class="invisible">The mystery word is a(n) {{ word.pos }} with {{ word.syllable_count }} syllables.</h3>
<div id="letters" class="invisible container mt-5 mb-3">
    <div class="row row-cols-auto" style="height: 100px">
        {% for letter in word.word %}                           
        <div class="col-1 m-2 p-3 h-100 bg-info bg-opacity-25 border border-info text-center rounded">
            {% if letter == word.word | first %}
                <h3 id="first-letter">{{ letter }}</h3>
            {% elif letter == word.word | last %}
                <h3 id="last-letter">{{ letter }}</h3>
            {% elif word.word.index(letter) == 2 %}
                <h3 id="third-letter" class="invisible">{{ letter }}</h3>
            {% else %}
                <h3 class="invisible">?</h3>                 
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="container my-4">
    <form action="/game/check-guess" method="POST" id="check-guess">
        <h4 id="feedback"></h4>
        <input id="guess" type="text" name="guess" placeholder="Enter your guess">
        <button class="btn btn-success d-inline">Guess</button>
    </form>
    <br>
    <div>
        <button id="hint-1" class="btn btn-info mr-3 d-inline">Get Definition</button>
        <button id="hint-2" class="btn btn-info m-3 d-inline">Get Synonyms</button>
        <button id="hint-3" class="btn btn-info d-inline">Get Another Letter</button>
    </div>
</div>
<h5 id="definition" class="invisible">The mystery word means {{ word.definition }}</h5>
<h5 id="synonyms" class="invisible">The mystery word has the following synonyms:
    {% for synonym in synonyms %}
    <p>{{ synonym }}</p>
    {% endfor %}
</h5>
<h3>Shhhh...the mystery word is:</h3>
<h4 id="mystery-word" class="invisible">{{ word.word }}</h4>
{% endblock %}