{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container">
    <div class="container text-center">
        <h1 class="display-1 p-3">Welcome to Werd Nerdz!</h1>
        <h2>Test your nerdy word skills by racing against the clock to guess a hidden mystery word.</h2>
        <h2>Earn points by using the fewest number of hints.</h2>
        <h2>Log in to save your results and compete on the leaderboard.</h2>
        <h2>Do you have what it takes to be a Werd Nerdz Champion?</h2>
        <img id="first-place" src="/static/achievement-g21c5cd96f_1280.png" class="my-3">
        <hr>
        <h3 class="display-4 p-3">What would you like to do today?</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <form action='/game/info'>
                    <button class="btn btn-success btn-lg p-3 mb-3">Play game!</button>
                </form>
            </div>
        </div>
        <div class="row">
            {% if 'user_id' in session %}
                <div class="col-6 d-flex justify-content-center">
                    <form action='/user-words'>
                        <button class="btn btn-info">See your words</button>
                    </form>   
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <form action='/word-lookup'>
                        <button id="lookup" class="btn btn-info">Look up a word</button>
                    </form>
                </div>
            {% endif %}
            {% if 'user_id' not in session %}
                <div class="col-6 d-flex justify-content-center">
                    <form action='/login'>
                        <button class="btn btn-info">Log in</button>
                    </form>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <form action='/signup'>
                        <button class="btn btn-info">Sign up</button>
                    </form>
                </div>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock %}