{% extends 'base.html' %}
{% block content %}
<h1>Log in below</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<form id="user-login-form" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}
        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-success mb-3">Submit</button>
</form>
<a href="/signup">Need to sign up? Click here.</a>





{% endblock %}