{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <p class="alert alert-{{ category }}">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

    <h1>Look Up a Word</h1>
    <form id="word-lookup-form" method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}